# Content-Based

In [81]:
import pandas as pd
import numpy as np

In [88]:
ratings = pd.read_csv('ratings_p.csv')
genres = pd.read_csv('genres_d.csv')

In [89]:
ratings.head()

,userId,movieId,rating,title,genres,year
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,1,3,4.0,Grumpier Old Men (1995),Comedy|Romance,1995
2,1,6,4.0,Heat (1995),Action|Crime|Thriller,1995
3,1,47,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995
4,1,50,5.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995

In [90]:
genres.head()

,movieId,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,0,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,5,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

가중평균 활용

In [91]:
# ratings에서 1번 유저의 데이터만 따로 떼어내 테이블 'user1' 만들기
user1 = ratings[ratings['userId']==1]
user1.head()

,userId,movieId,rating,title,genres,year
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,1,3,4.0,Grumpier Old Men (1995),Comedy|Romance,1995
2,1,6,4.0,Heat (1995),Action|Crime|Thriller,1995
3,1,47,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995
4,1,50,5.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995

In [92]:
# user1의 인덱스를 movieid로 설정
user1 = user1.set_index('movieId')
user1.head()

,userId,rating,title,genres,year
movieId,,,,,
1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
3,1,4.0,Grumpier Old Men (1995),Comedy|Romance,1995
6,1,4.0,Heat (1995),Action|Crime|Thriller,1995
47,1,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995
50,1,5.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995

In [93]:
# genres의 인덱스를 movieid로 설정
genres = genres.set_index('movieId')
genres.head()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,,,,,,,,,,,,,,,,,,,,
1,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [95]:
# genres에서 1번 유저가 평점을 준 영화의 데이터만 떼어내 user1_rated 테이블 만들기
user1_rated = genres[genres.index.isin(user1.index)]
user1_rated.head()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,,,,,,,,,,,,,,,,,,,,
1,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
6,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
47,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
50,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0

In [105]:
# genres에서 1번 유저가 평점을 주지 않은 영화, 즉 추천작의 후보가 될 수 있는 데이터만 떼어내 user1_unrated 테이블 만들기
user1_unrated = genres[~genres.index.isin(user1.index)]
user1_unrated.head()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,,,,,,,,,,,,,,,,,,,,
2,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
8,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [106]:
print(user1_rated.shape)
print(user1_unrated.shape)

(232, 20)
(9510, 20)

In [102]:
# user1에서 평점만 가져오기
user1['rating']

movieId
1       4.0
3       4.0
6       4.0
47      5.0
50      5.0
70      3.0
101     5.0
110     4.0
151     5.0
157     5.0
163     5.0
216     5.0
223     3.0
231     5.0
235     4.0
260     5.0
296     3.0
316     3.0
333     5.0
349     4.0
356     4.0
362     5.0
367     4.0
423     3.0
441     4.0
457     5.0
480     4.0
500     3.0
527     5.0
543     4.0
       ...
3062    4.0
3147    5.0
3168    4.0
3176    1.0
3243    3.0
3247    3.0
3253    5.0
3273    5.0
3386    5.0
3439    4.0
3440    4.0
3441    5.0
3448    5.0
3450    5.0
3479    4.0
3489    4.0
3527    4.0
3578    5.0
3617    4.0
3639    4.0
3671    5.0
3702    5.0
3703    5.0
3729    5.0
3740    4.0
3744    4.0
3793    5.0
3809    4.0
4006    4.0
5060    5.0
Name: rating, Length: 232, dtype: float64

In [103]:
# user1['rating']과의 행렬 곱을 위해 user1_rated의 전치행렬(transposed matrix)을 만든다.
user1_movies = user1_rated.T
user1_movies

movieId,1,3,6,47,50,70,101,110,151,157,...,3671,3702,3703,3729,3740,3744,3793,3809,4006,5060
(no genres listed),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Action,0,0,1,0,0,1,0,1,1,0,...,0,1,1,1,1,1,1,0,0,0
Adventure,1,0,0,0,0,0,1,0,0,0,...,0,1,1,0,1,0,1,0,1,0
Animation,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
Children,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
Comedy,1,1,0,0,0,1,1,0,0,1,...,1,0,0,0,1,0,0,1,0,1
Crime,0,0,1,0,1,0,1,0,0,0,...,0,0,0,1,0,1,0,0,0,0
Documentary,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Drama,0,0,0,0,0,0,0,1,1,0,...,0,0,0,1,0,0,0,0,0,1
Fantasy,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
Film-Noir,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Horror,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
IMAX,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Musical,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mystery,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Romance,0,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Sci-Fi,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,1,0,1,0
Thriller,0,0,1,1,1,1,0,0,0,0,...,0,0,1,1,0,1,0,0,0,0
War,0,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
Western,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [104]:
# 1번 유저의 유저 프로필 = 장르별 가중평균 (weights average)
user1_profile = user1_movies.dot(user1['rating']) / sum(user1['rating'])
user1_profile

(no genres listed)    0.000000
Action                0.384008
Adventure             0.368213
Animation             0.134255
Children              0.188549
Comedy                0.350444
Crime                 0.193485
Documentary           0.000000
Drama                 0.304047
Fantasy               0.199408
Film-Noir             0.004936
Horror                0.058243
IMAX                  0.000000
Musical               0.101678
Mystery               0.074038
Romance               0.110563
Sci-Fi                0.166831
Thriller              0.225074
War                   0.097730
Western               0.029615
dtype: float64

In [108]:
# user1_unrated(아직 평가하지 않은 영화 테이블)와 유저프로필의 행렬 곱
user1_v = user1_unrated.dot(user1_profile).reset_index().rename(columns={0:'value'})

In [109]:
user1_v

      movieId     value
0           2  0.756170
1           4  0.765054
2           5  0.350444
3           7  0.461007
4           8  0.556762
5           9  0.384008
6          10  0.977295
7          11  0.765054
8          12  0.408687
9          13  0.691017
10         14  0.304047
11         15  0.862784
12         16  0.497532
13         17  0.414610
14         18  0.350444
15         19  0.350444
16         20  1.457058
17         21  0.769003
18         22  0.854886
19         23  0.802567
20         24  0.470879
21         25  0.414610
22         26  0.304047
23         27  0.492596
24         28  0.414610
25         29  1.112537
26         30  0.497532
27         31  0.304047
28         32  0.465943
29         34  0.492596
...       ...       ...
9480   188189  0.716683
9481   188301  1.468904
9482   188675  0.497532
9483   188751  0.461007
9484   188797  0.350444
9485   188833  0.918065
9486   189043  0.654492
9487   189111  0.000000
9488   189333  0.977295
9489   189381  0.802567
9490   189547  0.550839
9491   189713  0.847976
9492   190183  0.391905
9493   190207  0.414610
9494   190209  0.350444
9495   190213  0.304047
9496   190215  0.304047
9497   190219  0.134255
9498   190221  0.000000
9499   191005  1.269497
9500   193565  1.035538
9501   193567  0.438302
9502   193571  0.654492
9503   193573  0.134255
9504   193579  0.000000
9505   193581  1.068115
9506   193583  0.684107
9507   193585  0.304047
9508   193587  0.518263
9509   193609  0.350444

[9510 rows x 2 columns]

In [110]:
titles = ratings[['movieId', 'title', 'genres']].drop_duplicates()
titles.shape

(9724, 3)

In [111]:
user1_recommendations = user1_v.merge(titles, how='left', on='movieId').sort_values('value', ascending=False)
user1_recommendations.head(20)

,movieId,value,title,genres
7209,81132,1.992103,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
8365,117646,1.831194,Dragonheart 2: A New Beginning (2000),Action|Adventure|Comedy|Drama|Fantasy|Thriller
6938,71999,1.758144,Aelita: The Queen of Mars (Aelita) (1924),Action|Adventure|Drama|Fantasy|Romance|Sci-Fi|...
3377,4956,1.742349,"Stunt Man, The (1980)",Action|Adventure|Comedy|Drama|Romance|Thriller
3229,4719,1.701876,Osmosis Jones (2001),Action|Animation|Comedy|Crime|Drama|Romance|Th...
9162,164226,1.693978,Maximum Ride (2016),Action|Adventure|Comedy|Fantasy|Sci-Fi|Thriller
4399,6902,1.688055,Interstate 60 (2002),Adventure|Comedy|Drama|Fantasy|Mystery|Sci-Fi|...
6230,52462,1.677196,Aqua Teen Hunger Force Colon Movie Film for Th...,Action|Adventure|Animation|Comedy|Fantasy|Myst...
448,546,1.657453,Super Mario Bros. (1993),Action|Adventure|Children|Comedy|Fantasy|Sci-Fi
5542,31367,1.631787,"Chase, The (1994)",Action|Adventure|Comedy|Crime|Romance|Thriller
6338,55116,1.631787,"Hunting Party, The (2007)",Action|Adventure|Comedy|Drama|Thriller
5258,26340,1.624877,"Twelve Tasks of Asterix, The (Les douze travau...",Action|Adventure|Animation|Children|Comedy|Fan...
8125,108932,1.624877,The Lego Movie (2014),Action|Adventure|Animation|Children|Comedy|Fan...
6216,51939,1.624877,TMNT (Teenage Mutant Ninja Turtles) (2007),Action|Adventure|Animation|Children|Comedy|Fan...
5244,26236,1.615005,"White Sun of the Desert, The (Beloe solntse pu...",Action|Adventure|Comedy|Drama|Romance|War
6647,62956,1.603159,Futurama: Bender's Game (2008),Action|Adventure|Animation|Comedy|Fantasy|Sci-Fi
3773,5657,1.600197,Flashback (1990),Action|Adventure|Comedy|Crime|Drama
4449,6990,1.600197,The Great Train Robbery (1978),Action|Adventure|Comedy|Crime|Drama
7538,91542,1.595262,Sherlock Holmes: A Game of Shadows (2011),Action|Adventure|Comedy|Crime|Mystery|Thriller
9050,157865,1.592300,Ratchet & Clank (2016),Action|Adventure|Animation|Children|Comedy|Sci-Fi

---
cosine similarity 활용

In [112]:
from sklearn.metrics.pairwise import cosine_similarity

In [120]:
genres.head()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,,,,,,,,,,,,,,,,,,,,
1,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [131]:
genres.loc[0:2]

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,,,,,,,,,,,,,,,,,,,,
1,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [132]:
cosine_similarity(genres.loc[0:2])

array([[1.        , 0.77459667],
       [0.77459667, 1.        ]])

In [134]:
cos_sim = cosine_similarity(genres)
cos_sim
#    1번과 1번,    1번과 2번, ...    1번과 9742번
#    2번과 1번,    2번과 2번, ...    2번과 9742번
# ...
# 9742번과 1번, 9742번과 2번, ... 9742번과 9742번

array([[1.        , 0.77459667, 0.31622777, ..., 0.        , 0.31622777,
        0.4472136 ],
       [0.77459667, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.31622777, 0.        , 1.        , ..., 0.        , 0.        ,
        0.70710678],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.31622777, 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.4472136 , 0.        , 0.70710678, ..., 0.        , 0.        ,
        1.        ]])

In [135]:
cos_sim.shape

(9742, 9742)

In [138]:
# 유사도가 작은 순으로 인덱스 출력
np.argsort(cos_sim[0])

array([4870, 4546, 4545, ..., 3568, 8219,    0])

In [139]:
# 유사도가 큰 순으로 인덱스 출력
np.argsort(cos_sim[0])[::-1]

array([   0, 8219, 3568, ..., 4545, 4546, 4870])

In [149]:
top20 = np.argsort(cos_sim[0])[::-1][1:21]
top20

array([8219, 3568, 9430, 3000, 2809, 2355, 6194, 8927, 6948, 7760, 1706,
       6486, 6260, 5490, 5977, 7805, 7530,  559, 8806, 8900])

In [145]:
movies = pd.read_csv('../../movies.csv')
tags = pd.read_csv('../../tags.csv')

In [152]:
movies[movies.index.isin(top20)]

,movieId,title,genres
559,673,Space Jam (1996),Adventure|Animation|Children|Comedy|Fantasy|Sc...
1706,2294,Antz (1998),Adventure|Animation|Children|Comedy|Fantasy
2355,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
2809,3754,"Adventures of Rocky and Bullwinkle, The (2000)",Adventure|Animation|Children|Comedy|Fantasy
3000,4016,"Emperor's New Groove, The (2000)",Adventure|Animation|Children|Comedy|Fantasy
3568,4886,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy
5490,26340,"Twelve Tasks of Asterix, The (Les douze travau...",Action|Adventure|Animation|Children|Comedy|Fan...
5977,36397,Valiant (2005),Adventure|Animation|Children|Comedy|Fantasy|War
6194,45074,"Wild, The (2006)",Adventure|Animation|Children|Comedy|Fantasy
6260,47124,"Ant Bully, The (2006)",Adventure|Animation|Children|Comedy|Fantasy|IMAX
6486,53121,Shrek the Third (2007),Adventure|Animation|Children|Comedy|Fantasy
6948,65577,"Tale of Despereaux, The (2008)",Adventure|Animation|Children|Comedy|Fantasy
7530,84637,Gnomeo & Juliet (2011),Adventure|Animation|Children|Comedy|Fantasy|Ro...
7760,91355,Asterix and the Vikings (Astérix et les Viking...,Adventure|Animation|Children|Comedy|Fantasy
7805,92348,Puss in Boots (Nagagutsu o haita neko) (1969),Adventure|Animation|Children|Comedy|Fantasy|Ro...
8219,103755,Turbo (2013),Adventure|Animation|Children|Comedy|Fantasy
8806,130520,Home (2015),Adventure|Animation|Children|Comedy|Fantasy|Sc...
8900,134853,Inside Out (2015),Adventure|Animation|Children|Comedy|Drama|Fantasy
8927,136016,The Good Dinosaur (2015),Adventure|Animation|Children|Comedy|Fantasy
9430,166461,Moana (2016),Adventure|Animation|Children|Comedy|Fantasy

---
TF-IDF 활용 (tag 컬럼)

In [153]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200